<div class="row main">
  <!-- Create a New Task Section -->
  <div class="col-3 d-flex flex-column p-4 align-items-center justify-content-center">
    <div class="create-task">
      <h2>Create a New Task</h2>
      
      <!-- Task Form -->
      <div class="form-group">
        <label for="taskName">Task Name</label><br>
        <input id="taskName" [(ngModel)]="task.name" placeholder="Enter task name" />
      </div>

      <div class="form-group">
        <label for="taskDescription">Task Description</label><br>
        <textarea id="taskDescription" [(ngModel)]="task.description" placeholder="Enter task details"></textarea>
      </div>

      <div class="form-group">
        <label for="deadline">Deadline</label><br>
        <input type="date" id="deadline" [(ngModel)]="task.deadline" />
      </div>

      <div class="form-group">
        <label for="owner">Owner</label><br>
        <input id="owner" [(ngModel)]="task.owner" placeholder="Enter owner name" />
      </div>

      <div class="form-group">
        <label for="exampleFormControlFile1">Add a file</label>
        <input [(ngModel)]="task.file" type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileSelected($event)" />
      </div>
      
      
      <div class="form-group">
        <label for="inlineFormCustomSelect">State</label><br>
        <select id="inlineFormCustomSelect" [(ngModel)]="task.state">
          <option value="pending">Pending</option>
          <option value="progress">On Progress</option>
          <option value="finished">Finished</option>
        </select>
      </div>

      <button (click)="addTask()">Add Task</button>
    </div>
  </div>

  <!-- Task List Section -->
  <div class="col-8 task-list align-items-center row">
    <h2 class="fixed-title">Task List</h2>

  <div class="task-list-content row">
    <div *ngFor="let t of tasks" class="task-item flex-column p-4 col-4">
      <div class="task-details">
        <p><strong>{{ t.name }}</strong></p>
        <details>
          <summary>More details</summary>
          <p>{{ t.description }}</p>
        </details>
        <p>Deadline: {{ t.deadline | date }}</p>
        <p>Owner: {{ t.owner | uppercase }}</p>
        <p>State: {{ t.state }}</p>
        <p>Attached: {{ t.file  }}</p>
      </div>
      <div class="task-actions">
        <button (click)="removeTask(t.id)">Remove</button>
      </div>
    </div>
  </div>


  </div>


</div>
